.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  background-position: right top;
  position: absolute;
  right: -210px;
  top: 0;
  animation: rotation 20s linear infinite;
}
